html {
    background-image: linear-gradient(#FC5E55, #FA4083);  
}

body {
    background-image: url(/images/image-lion-background.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* Parent for Header */
header {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

/* Parent for main heroboxes */
main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.main2 {
    min-height: 300px;
    padding-top: 50px;
}

.herobox1 {
    flex: 2;
    margin-right: 100px;
}

.herobox2 {
    flex: 1;
}

/* parent div for cards */
.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1 {
    background-image: url(/images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.226);
}

.card2 {
    background-image: url(/images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;    
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.226);
}

.card3 {
    background-image: url(/images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.226);
}

.card1, .card2, .card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
}

/* Use rem for text font sizing instead of px */
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.25rem;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.397);
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin-top: 20px;
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

a {
    color: white;
    text-decoration: none;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-top: 10px;
}

.cards i {
    font-size: 100px;
    /* padding-top: 30px; */
}

.mybutton {
    background-color: white;
    color:#FC5E55;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    padding: 11px 25px;
    border-radius: 8px 4px;
    /* Using box-shadow for depth */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.226);
    font-size: 1.2rem;
}


/* Using pseudo classes */
.mybutton:hover {
    background-color: rgb(57, 180, 160);
    transition: 0.5s;
}

/* Using Inline Block */
a.mybutton {
    display: inline-block;
    margin-top: 20px;
}

.navbutton {
    /* Format border with 'size', 'style', 'color' */
    border: 1px solid white;
    border-radius: 2px;
    padding: 11px 25px;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    position: relative;
    text-align: center;

}

/* Using flex wrap on testimonials parent so all tbox's wrap 
(instead of making individual rows and columns) */
.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.tbox {
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 50px;
}

/* using pseudo classes */
.tbox p:last-of-type {
    font-size: 0.8rem;
    padding-left: 30px;
}

.dropdown {
    display:none;
    position: absolute;
    z-index: 1;
    padding-top: 15px;
    margin-left: -26px;
    /* text-align: center; */
}

.navbutton:hover .dropdown {
    display: block;
}

.dropdown .navbutton {
    width: 97px;
    background-color: white;
}

.dropdown .navbutton:hover {
    background-color: #ebe6e8dc;
    transition: 0.5s;
}

.dropdown .navbutton a {
    color: #FC5E55;
}

.inputwrapper {
    margin-bottom: 20px;
}

input[type=text], input[type=email], textarea {
    padding: 12px 20px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

.newline {
    display: block;
    margin-bottom: 10px;
}

.margin-right-a {
    margin-right: 50px;
}

input[type=checkbox] {
    font-size: 2rem;
}

input[type=radio] {
    margin-right: 10px;
    font-size: 2rem;
}

select {
    font-size: 1rem;
    border: 1px solid lightgray;
}

form {
    margin: 40px 0px;
}

input[type=submit] {
    border-radius: 8px 4px;
}